<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.Pinturas1ConnectionString"
            connectionString="Data Source=DESKTOP-CTJP88I\SQLEXPRESS;Initial Catalog=Pinturas1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>